a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1em;
  position: relative;
}

h1 {
  font-size: 5.652rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #2d4059;
}
h2 {
  color: #52575d;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #52575d;
}
p {
    line-height: 2;
}
table {
  table-align: center;
}
hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

/****************CLASS SELECTORS************************/

.top-container {
  position: relative;
  background-color: #f4f4f4;
  padding-top: 100px;
  padding-bottom: 100px;
}

.middle-container {
  margin: 0;
  padding-top: 120px;
  background-color: #f4f4f4;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.79rem;
  padding: 20px 0;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.eye {
  padding-top: 70px;
  margin-bottom: 0;
  width: 50%;
}
.mypicture {
  width: 20%;
}
.skill-row {
  display: inline-block;
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
}
.computer-img {
  float: left;
  width: 25%;
  margin-right: 30px;
}
.app-icon {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 20%;
  margin: 40px auto 60px;
  position: sticky;
  line-height: 2;
}

.bottom-container {
  background-color: #24252a;
  padding: 50px 0 20px 0;
}
/***********************************NEW CONTETNTS******************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
  padding-left: 0px;
  padding-right: 10px;
}

.logo {
  margin-right: auto;
  width: 70px;
  height: 90px;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.cta {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: black;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

