/**********************TAG SELECTORS*******************/
body {
  background-color: #EAF6F6;
  margin: 30px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}


h1 {
  color: #00a1ab;
}

h3 {
  color: #00a1ab;
}
a:link, a:visited { color: #204051;
  text-decoration: underline;
}

/*******************CLASS SELECTORS**********************/
.myname {
  color: #ff2e63;
}
.myway {
  color: #ff5200;
}
